#formAsignacion{
    position: relative;
    align-items: center;
    border: 1px solid #E2ffE8;
    
  }
  .nuevo-estilo{
    margin: 15px;
    background-color: #EFEDF1;
    border: 1px solid #E2E3E8;
    padding: 10px;
  }
  .nuevo-estilo2{
    margin: 10px;
    text-align: center;
    border: 1px solid #E2E3E8;
    padding: 4px;
  }

  .table{ 
    height:200px;
    overflow:scroll;
}

.botonActividad{
    position: absolute;
    float: right; 
    border-radius: 5px;
    width: 13%;
    height: 28px;
    background:linear-gradient(180deg,rgb(145, 182, 169)0%100%);
    box-shadow: inset 0 0 20px grey;
    
}

#formActividad{
  padding-left: 5px;
  width: 100%;
  display: inline-block;
}

#pActividad{
 width: 70%;
}

#efectoActividad{
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-shadow: inset 0 0 20px rgb(161, 161, 161);
  position: relative;
  height: 35px;
  width: 90%;
}

#pPropuesta{
  width: 70%;
 }

 #formPropuesta{
  padding-left: 5px;
  width: 100%;
  display: inline-block;
  
}
#labelPropuesta{
  width:70%;
  
}

#propuestaLista{
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-sizing: border-box;
  position: relative;
  height: 35px;
  width: 90%;
  box-shadow: inset 0 0 20px grey;
  border-width: 2px;
  border-style: inset;
  border-color:#636363;
  font: rgb(80, 79, 79);
}

#efectoGris{
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-shadow: inset 0 0 20px rgb(161, 161, 161);
  width: auto;
  height: 25px;
}

label{
  display: inline-block;
}


#margenAcordeon{
  margin-left:5px;
}

#cardId{
  width: 63%;
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-sizing: border-box;
  position: relative;
  box-shadow: inset 0 0 20px grey;
  border-width: 2px;
  border-style: inset;
  border-color:#636363;
  font: rgb(80, 79, 79);
}
#cursada{
  font-size: 15px;
  text-transform: capitalize;
}
#franja{
  font-size: 15px;
  text-transform: capitalize;
}



/*icono de lupa buscadora va con link a la pagina 
.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
   background: rgb(177, 143, 143);
}*/