* {
  box-sizing: border-box;
}

.botonActividad{
    position: absolute;
    float: right; 
    border-radius: 5px;
    width: 10%;
    height: 25px;
    background:linear-gradient(180deg,rgb(145, 182, 169)0%100%);
    box-shadow: inset 0 0 20px grey;
    
}

#efectoGris{
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-shadow: inset 0 0 20px rgb(161, 161, 161);
  width: auto;
  height: 25px;
}


#formActividad{
  padding-left: 5px;
  display:inline;
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-shadow: inset 0 0 20px rgb(161, 161, 161);
  }
 
  .item{
    color:black;
    background-color: red;
    
  }
    
  #efectoActividad, #efectoPropuesta, #CaracteristicaAulaLista {
  border-radius: 5px;
  background:linear-gradient(180deg,rgb(253, 254, 255)0%70%);
  box-shadow: inset 0 0 20px rgb(161, 161, 161);
  position: relative;
  font-family: verdana, arial, helvetica;
  font: rgb(15, 15, 15);
  height: 35px;
  width: 90%;

  }
/*#efectoPropuesta li a {
  color: #f4511e !important;
}
*/

/*icono de lupa buscadora va con link a la pagina 
.container:hover button.icon, .container:active button.icon, .container:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
   background: rgb(177, 143, 143);
}*/

.flexGeneral {
  display: flex;
  
  flex-direction: row-reverse ;
}

.flexCentral {
  flex: 1;
  order: 1;
  
  justify-content: space-between;
}

.flexfiltroIzquierdo {
  flex: 2;
  order: 2;
  

}
.cardFranja{
  display: flex;
  /*max-width:  6;
  max-height: 6;
  border-radius:100%;
  */
  background:linear-gradient(180deg,rgb(139, 231, 200)0%70%);
  position: relative;
  box-shadow: inset 0 0 20px grey;
  font: rgb(58, 57, 57);
  }

  .fuentesAcordeon{
  font-size: 15px;
  text-transform: capitalize;
  font: rgb(51, 50, 50);
  }

  .estiloDesplegable{
    font-family: verdana, arial, helvetica;
    background-color: rgb(132, 250, 220);
    box-shadow: inset 0 0 20px grey;
  }
 