#containerGrilla{
    margin-top: 10px;
    border: 1px solid #E2E3E8;
    padding: 4px;
    height: 100px;
    width: 1200px;
    justify-content: space-between;
  }


  #btn-dias-inline, #tipoAsignacion, #desplegableInst, 
  #mostrarDisponible{
    display: inline;
   
   
  }
  #ch1, #ch2{
    display:inline;
  }
  
  #btn-dias{
    border-radius: 5px;
    width: 60px;
    height: 25px;
    background:linear-gradient(180deg,rgb(143, 185, 171)0%100%);
    box-shadow: inset 0 0 20px grey;
    float: left;
  }

  #btn-dias:hover{
    border-radius: 5px;
    width: 70px;
    background: linear-gradient(180deg,  #8cb1ae 0%100%); 
    background-position: 0 -50px;
    transition: all .3s;
  }
  li{
    list-style:none;
  }
  .labelA{
    padding-left: 10px;
    font-weight: bold;
    float: left; 
  }
  .labelB{
    float: right; 
  }
  #desplegableInstitutos{
    padding-left: 20px;
    border-radius: 5px;
    width: 190px;
    height: 30px;
    background:linear-gradient(180deg,rgb(156, 185, 175)0%100%);
    box-shadow: inset 0 0 20px grey;
    
  }
  

  .btn-mostrar{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background:linear-gradient(180deg,rgb(135, 154, 170)0%100%);
    box-shadow: inset 0 0 20px grey;
   
  }

 #clasedeclase{
   justify-content: space-around;
   justify-items: flex-start;
  }
  
  #classSection{
    float: left;
   
  }

 #aulas_grilla1{
    float: right;
    text-align: center;
  }

.btn-mostrarAula{
    border-radius: 5px;
    width: 80px;
    height: 30px;
    background:linear-gradient(180deg,rgb(213, 235, 253)0%100%);
    box-shadow: inset 0 0 20px gray;
    margin: 2px;
    text-align: center;
  }
 
  #classSection2{
    position: static;
   
  }

  #divPe{
    justify-items: flex-start;
    padding-left: 2px;
  }

p{
    display: inline;
    padding-left: 5px;
    justify-content: space-around;
  }
  
  .efectoAzul{
    position: static;
    border-radius: 5px;
    background:linear-gradient(180deg,rgb(213, 235, 253)0%100%);
    box-shadow: inset 0 0 20px gray;
    height: 30px;
    margin: 2px;
    padding-left: 5px;
  }

  .efectoGris{
    position: static;
    border-radius: 5px;
    background:linear-gradient(180deg,rgb(249, 252, 255)0%100%);
    box-shadow: inset 0 0 20px gray;
    height: 30px;
    margin: 2px;
    padding-left: 5px;
  }
