.anchotab{
    width: 100%;
    height: 43px;
  }

 
  .menubotones{
    width: 75%;
    height: 43px;
    float: left;
  }

  .menuhora{
    width: 20%;
    height: 43px;
    text-align: center;
    padding-top: 4px;
    float: left;
  }