*******************************************************************************************************************************/

* {
  box-sizing: border-box;
}

  

/********************************************************************************************************************************/
/***** Cabezera - Logo - Loguin **************/
  .logo{
    width: 35%;
    height: 70px;
    float: left;
  }

  .logo p img{
    vertical-align: middle;
    width: 80%;
  }

  .tituloapp{
    width: 40%;
    height: 70px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .login{
    width: 25%;
    height: 70px;
    float: left;
  }
 
/* Loguin */
  .anchoLoguin{
    width: 50%;
    height: 70px;
    text-align: right;
    padding-top: 26px;
    padding-right: 3px;
    float: left;
  }

  .inpLoguin{
    width: 65%;
    background-color: ivory;
    border-radius: 10%;
    box-shadow: 0 0 5px rgb(10, 10, 10);
  }

  .logoLoguin{
    width: 50%;
    height: 70px;
    padding-top: 4px;
    padding-left: 3px;
    float: left;
  }

  .logoLoguin p img{
    vertical-align: middle;
    width: 40%;
  }
